version: "3.8"
services:
  loki:
    image: grafana/loki:2.9.4
    command: -config.file=/etc/loki/local-config.yaml
    ports:
      - "3100:3100"
    volumes:
      - loki-data:/loki
    restart: unless-stopped

  promtail:
    image: grafana/promtail:2.9.4
    command: -config.file=/etc/promtail/promtail-config.yml
    volumes:
      - ./promtail/promtail-config.yml:/etc/promtail/promtail-config.yml:ro
      - ./promtail/pipelines/:/etc/promtail/pipelines/:ro
      - /var/log/nginx/:/var/log/nginx/:ro
      - /var/log/bitrix/:/var/log/bitrix/:ro
      - /var/log/onec/:/var/log/onec/:ro
      - /var/log/mail/:/var/log/mail/:ro
      - /var/log/vpn/:/var/log/vpn/:ro
    restart: unless-stopped

  grafana:
    image: grafana/grafana:10.1.5
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/dashboards/:/var/lib/grafana/dashboards/:ro
    restart: unless-stopped
volumes:
  loki-data: {}
  grafana-data: {}
